
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');

$primary:#084b83;
$secondary:#ffffb3;
$tertiary: #ff1b1c;
$pacific: #0eb1d2;
$cream: #fad4c0;
$purpleblue:#4f4789;
$ivory:#fffded;
$light:#fff;
$dark:#000;
$gray: #d6d5d3;
$menu:#042A2B;
$fontSize:16px;
$fontText: 'Nanum Myeongjo', serif; 
$fontHeadings:'Roboto', sans-serif;
$transition:0.4s ease;
$txtTransform: uppercase;

* {
    
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*****************
Mixin
****************/
@mixin background($size: cover,$position:center,$repeat:no-repeat,$height:100vh) {
    
    background-size:$size;
    background-position:$position;
    background-repeat: $repeat;
    height:$height; 
    
    
}

@mixin flex($direction,$justify,$align,$wrap) {
    
    display:flex;
	flex-direction:$direction;
    justify-content:$justify;
    align-items:$align;
    flex-wrap:$wrap;
}


@mixin btn($bg,$color,$borders,$txtTransform) {
    padding: 15px 30px;
    border-radius: 30px;
    border: $borders;
    text-transform:$txtTransform;
    color:$color;
    background:$bg;
    transition:$transition;
    &:hover {
        
        color: $bg;
        background: $color;
        transition: $transition;
        border: 1px solid $color;
        
    }
    
    
}





/*************
General styles
**************/

body {
    
    font-family:$fontText;
    font-size:$fontSize;
    color:$light;
    
    
  
}

.container {
    
    width:80%;
    margin:auto;
}

a {
    
    text-decoration:none;
    color:$light;
}

ul {
	
	list-style:none;
}

li {
	
	list-style:none;
}


/****************
MAIN PAGE
*****************/

.showcase {
    
    position:absolute;
    right:0;
    width:100%;
    min-height:100vh;
    @include flex(row,center,center,no-wrap);
    background:$primary;
    color:$light;
    z-index:-2;
    
    
    header {
        
        
        
        position:absolute;
        top:0;
        left:0;
        width:100%;
        padding: 40px 200px 0 200px;
        z-index:50;
        @include flex(row,space-between,center,no-wrap);
        
        .logo {
            text-transform:$txtTransform;
            
        } 
		.toggle {
        
       display:none;
		
		
		@media(max-width:1000px) { 
		display:block;
		position:relative;
        width:60px;
        height:60px;
        
        font-size:2rem;
        font-weight:bold;
			
		   &:hover{
            
            cursor:pointer;
       
        }	
		
		}
       
        
        
          
			 

		

    }
		
		.nav-items {
			
			display:flex;
			justify-content:space-between;
			align-items:center;
			
			@media(max-width: 1000px){
				
				display:none;
				
			}
			
			
			li {
				
				margin-right:40px;
				
				font-size:1.2rem;
				
				
				
				
				
					
		
					
					&:hover {
						
						cursor:pointer;
					}
			
					
			}
			
		}
		
	
		 .menu {
			display:none;
			
		}
		
		.menu.active {
			display:block;
			position:absolute;
			
			top:0%;
			right:0;
			z-index:100;
			color:$primary;
			
			text-align:center;
			background:$ivory;
			padding:40px;
			
			li {
				padding: 20px;
				border-bottom: 2px solid $primary;
				
				a {
					font-size:1.3rem;
				}
			}
			
	}
		
		

}
	video {
		
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
		opacity:0.8;
		
	} 
	
	.overlay {
		
		position:absolute;
		top:0;
		left:0;
		padding: 40px 200px;
		width:100%;
		height:100%;
		background:linear-gradient(to right,$secondary,$primary);
		mix-blend-mode: overlay; 
	}
	
	.text {
		
		z-index:10;
		position:relative;
		text-align:center;
		max-width:700px;
		
		h2 {
			
			font-size:2.7rem;
			font-weight:700;
			line-height:2.5rem;
			text-transform:$txtTransform;
			margin:10px 0;
			
			span {
				color:$secondary;
			}
			
		}
		
		h3 {
			
			font-size:2rem;
			font-weight:500;
			text-transform:$txtTransform;
			margin:10px 0;
			
		}
		
		p {
			
			font-size:1.1rem;
			text-transform:$txtTransform;
		}
		
		a {
			display:inline-block;
			margin: 30px 0;
			@include btn(transparent,$ivory,none,$txtTransform);
			font-size:1.2rem;
			font-family:'Roboto',sans-serif;
			border: 2px solid $ivory;
			transition:$transition;
			
			&:hover {
				
			border: 2px solid $secondary;
			background:$dark;
			transition:$transition;
			color:$secondary;
				
			}
			
			
			
		}
		
		
	
		
		
		
	}
	
		.socials {
			
			position:absolute;
			left:0;
			bottom: 20px;
			padding: 20px 200px;
				
			display:flex;
			flex-direction:row;
			justify-content:space-between;
			
			
			li {
				
				display:inline-block;
				margin-right:35px;
			
				font-size:1.5rem;
				border:none;
				
				
				&:hover {
					
					
					transform:scale(1.2);
					
					
					i {
						
						color:$primary;
					}
				}
			}
			
		}
    
}



/*************************
GENERIC HEADER (every page)
**************************/

 .generic{
	
	 background:linear-gradient(to right,rgba($secondary,.7),rgba($primary,0.8)),url(./img/city-lights.jpg); 
	 @include background(cover,center,no-repeat,60vh);
	 .wrapper { 
		 background:$menu;
	 nav {
		@include flex(row,space-between,center,no-wrap);
		 padding: 20px 0;
		 
		 
		 
		  .logo {
            text-transform:$txtTransform;
			  
			 flex:0 0 20%;
			 
            
        } 
		 
		 .nav-list {
			 
			 flex: 0 0 80%;
			 @include flex(row,space-between,center,no-wrap);
			 font-size:1.2rem;
		 }
		 
		
	 
	 }
	 }
	 .title {
		 
		 @include flex(row,center,center,no-wrap);
		 height:50vh;
		 font-size:2.5rem;
		 text-transform:$txtTransform;
		 font-weight:700;
	 }
		 }


/*************
ABOUT
************/

/********introduction********/


.introduction  {
	
	
	margin-bottom: 100px;
	
	h2 {
		
		text-align:center;
		padding: 30px 0;
		color:$dark;
		margin: 20px 0 40px 0;
	}
	
	article {
		
		@include flex(row,space-between, center,wrap);
		
		.intro {
			flex: 0 0 30%;
			@include flex(column,space-between, flex-end,wrap);
			border: 2px solid $primary;
			border-radius:30px;
			height:70vh;
			
			padding: 20px;
			color:$dark;
			text-align:center;
			
			h3 {
				margin:0 auto 20px auto;
				
				
			}
			
			p { 
				
				padding: 20px 0;
			
			}
			
			
		}
		
		.img-intro {
			
			
			flex: 0 0 30%;
			background-image: url(./img/intro.jpg);
			background-position:center;
			background-size:cover;
			background-repeat:no-repeat;
			height:70vh;
			border-radius:30px;
			border: 1px solid $secondary;
			box-shadow: 5px 5px 3px $secondary;
		}
		
		
	}
	
	
	
}


/********Values************/

.values {
	
	background-image:linear-gradient(to right, rgba($ivory,0.7),rgba($secondary,0.9)), url(./img/hex.jpg);
	@include background(cover,center,no-repeat,40vh);
	color: $primary;
	text-align:center;
	@include flex(column,space-between,center,wrap);
	.value-head {
		
	
	h2 {
		
		font-size: 1.7rem;
		padding: 20px 0;
		margin:auto;
		font-family:'Roboto',sans-serif;
		
	
	}
	
	p {
		
		font-size:1.2rem;
		padding-bottom:20px;
		margin:auto;
	}
	}
	.value-list {
		
		@include flex(row,space-between,center,wrap);
		div:nth-child(even) { 
			
			
			text-align:center;
			h3 {
				font-size:1.4rem;
				font-weight:bold;
				margin:auto;
				text-align:center;
			}
		div{
			
			border: 4px solid $menu;
			padding: 25px;
			@include flex(row,center,center,no wrap);
			border-radius: 50px;
			height: 70px;
			width: 70px;
			overflow:hidden;
			position:relative;
			transition: 0.7s ease;
			margin:auto;
			
			i:nth-child(1) {
				
				color:$menu;
				position:absolute;
				left:33%;
			}
			
			i:nth-child(2) {
				
				color:$pacific;
				position:absolute;
				left:120%;
			}
			
			
			&:hover {
				
				border: 4px solid $pacific;
				transition: 0.7s ease;
				
				i:nth-child(1) {
				
				position:absolute;
				transform:translateX(-200%);
				transition: 0.7s ease;
				
				
			}
				
					i:nth-child(2) {
				
				position:absolute;
				left:33%;
				text-align:center;
				transition: 0.7s ease;
				
				
			}
				
				
				
			}
			
		}
			
			&:hover  {
				
				h3 {
					
					color:$pacific;
				}
				
				
			}
		
		}
		
		
		
		
		div:nth-child(odd) { 
			
			
			text-align:center;
			h3 {
				font-size:1.4rem;
				font-weight:bold;
				
				text-align:center;
			}
		div{
			
			border: 4px solid $menu;
			padding: 25px;
			@include flex(row,center,center,no wrap);
			border-radius: 50px;
			height: 70px;
			width: 70px;
			overflow:hidden;
			position:relative;
			transition: 0.7s ease;
			margin:auto;
			
			i:nth-child(1) {
				
				color:$menu;
				position:absolute;
			}
			
			i:nth-child(2) {
				
				color:$pacific;
				position:absolute;
				left:-100%;
			}
			
			
			&:hover {
				
				border: 4px solid $pacific;
				transition: 0.7s ease;
				
				i:nth-child(1) {
				
				position:absolute;
				right: 120%;
				transition: 0.7s ease;
				
				
			}
				
					i:nth-child(2) {
				
				position:absolute;
				left: 23%;
				text-align:center;
				transition: 0.7s ease;
				
				
				
			}
				
				
				
			}
			
		}
			
			&:hover  {
				
				h3 {
					
					color:$pacific;
				}
				
				
			}
		
		}
	}
	
}


/************Statistic************/

.statistic {
	
	
	
	
	@include background(cover,center,no-repeat);
		
	background-image:linear-gradient(45deg,rgba($secondary,.7),rgba($ivory,.7),rgba($primary,0.8)),url(./img/ilustration.jpg);
	object-fit:cover;
	height: auto;
	
	padding: 40px;
	
	h2 {
		
		padding: 20px 0;
		color:$primary;
		text-transform:$txtTransform;
		
	}
	
	h3 {
		
		padding-bottom: 20px;
		color:$primary;
		text-transform:$txtTransform;
	}
	
	
	.row {
		@include flex(row,space-between,center,no wrap);
		
		
		article:first-child {
			
			
			padding: 30px;
			flex:0 0 80%;
			color: $primary;
			text-transform:txtTransform;
			
			
			
			.stat  { 
				
				
				@include flex(row,space-between,center,no wrap);
				padding: 35px 0;
				
			.progress-bar {
				
				width: 60%;
				border: 2px solid $primary;
				height: 30px;
				border-radius:30px;
				display:inline-block;
				background: transparent;
				
				
				.progress {
					
					background: $primary;
					height:100%;
					border-radius:30px;
				}
			}
				
				}
		}
		
			
		article:last-child {
			
			padding: 30px;
			@include flex(column,space-between,center,no wrap);
			
			
			p {
				
				padding: 30px;
				background: $secondary;
				margin: 20px;
				border-radius: 80px;
				color: $menu;
				text-align:center;
			}
			
		}
		
		
	}
}




		 
	
	












